<h1>首頁</h1>
<h2>Unit1 Succeeding in PC Hardware</h2>
<p>PC Hardware is an online course, where the content will be presented in the form of both text and activities.</p>
<p>PC Hardware是一門線上課程，其中的內容以課文和活動的形式呈現。</p>
<p>While you will have more flexibility than in a traditional course, you will also have more responsibility for your own learning. You will need to:</p>
<p>與傳統課程相比，將擁有更多的彈性，你也需要對自己的學習負責。你會需要：</p>
<p>Plan how to work through each unit.<br/>計劃如何了解每個單元。<br/>Determine how to use the various features of the course to help you learn.<br/>確切知道如何使用課程的各種功能來幫助學習。<br/>Decide when you need to seek additional support.<br/>確定何時需要尋找其他幫助。<br/>What You Need to Know About the Course</p>
<p>需要了解課程的內容</p>
<p>This course contains multiple modules. Each module has features designed to support you as an independent learner, including:</p>
<p>本課程包含多個單元。每個單元都具有幫助自己作為獨立學習者的功能，包括：</p>
<p>Learning Objectives: These are descriptions of what you should be able to do at the end of a section. A Learning Objective will allow you to direct your learning efforts and enable you to monitor your progress as you explore the content and engage in the activities.<br/>學習目標：這些是本節末尾應該做的事情的描述。學習的目的將使自己能夠學習指導，並在探索內容和參與活動時駕馭自己的進度。</p>
<p>Explanatory Content: This is the informational “meat” of every chapter. Consisting of short passages of text with information, examples, images, and explanations, this explanatory content contains pieces such as:<br/>解釋性的內容：這是每章包含的“內容 ”。由說明、知識、範例、圖像和說明的簡要段落組成，此說明的內容包含以下：</p>
<p>Walk-throughs: These are videos embedded in exemplify the pages to the concepts you are exploring. They may provide a more detailed explanation of a topic or guide you through the steps of a process.<br/>演練：這些是插入在頁面中的影片，以舉例說明自己正在探索的學說。他們可能會提供有關主題的詳細說明，或指導自己完成流程的各個步驟。</p>
<p>Examples: Designed to illustrate specific applications of the skills and learning objectives that the course supports you to achieve.<br/>範例：說明該課程幫助自己實現的技能和學習目標的特定用途。</p>
<p>Labs: Simulations and lab activities designed to give you an opportunity to interact with various hardware elements.<br/>實驗室：模擬和實驗活動是為自己提供與各種硬體原理進行交流的機會。</p>
<p>Many Students Wonder sidebars: These sidebars serve two purposes: (1) to give a quick review of concepts, such as "highly specialized input devices," that are used in the PC Hardware material and (2) to provide additional material or background information that you may find surprising and interesting but that is not going to be assessed in the Quiz.<br/>許多學生都想了解補充：這些補充有兩個目的：（1）快速回顧觀念，例如PC硬體材料中使用的“極致專業化的輸入設備”，以及（2）提供其他材料或背景資料可能會發現令人驚訝和有趣的東西，但是測驗中不會對此進行評論。</p>
<<<<<<< HEAD
<p>Learning Activities: There are different types of activities interspersed throughout the course. They include:<br/>學習活動：在整個課程中散佈著不同類型的活動。包括：</p>
<p>Learn By Doing activities: Learn By Doing activities follow the short explanations and examples. These activities give you the chance to investigate and practice key ideas. Learn By Doing activities have hints and feedback to guide you if you need it.<br/>邊做邊學的活動：邊做邊學的活動遵循簡短的說明和範例。這些活動使自己有機會研究和實踐關鍵思想。邊做邊學活動有提示和反饋，以在需要時指導。</p>
<p>Did I Get This? activities: Did I Get This? activities are your chance to do a quick "self-check." These activities do not have hints, and often follow a Learn by Doing activity so that you can determine if you understand the key ideas. This will help you make sure you are ready for graded activities.<br/>我明白了嗎？活動：我明白了嗎？活動是您進行快速“自我檢查”的機會。這些活動沒有提示，通常會跟隨“做中學”活動，以便確定自己是否了解關鍵思想。這將幫助確保已準備好進行分級活動。</p>
<p>Quizzes: These are short assignments that are graded. There is a Quiz at the end of each Module. The Quiz will show you and your instructor how well you understand the key concepts. If you read the information and do the activities in each Module, you should be ready for the Quiz.<br/>測驗：這些是評分的短期作業。每個單元的末尾都有一個測驗。測驗將向自己和自己的老師展示自己對關鍵概念的理解程度。如果閱讀了該信息並在每個單元中進行了活動，那麼自己應該已經做好測驗的準備。</p>
<p>Metacognitive Activities: These activities are designed to support your development as an independent learner, encouraging you to reflect on your progress and plan for continuing success. These activities include:<br/>認知活動：這些活動是在支持自己作為獨立學習者的發展，鼓勵反思自己的進步併計劃繼續取得成功。這些活動包括：</p>
<p>My Response activities: These short activities are located at the end of the module; they encourage you to reflect on your progress through the module and estimate how well you believe you've attained the module's learning objectives. These activities also provide a place to share continuing questions and areas of difficulty (if you're using the course in conjunction with an instructor, your questions will be shared with your instructor).<br/>我的響應活動：這些簡短的活動位於單元的末尾；他們鼓勵自己反思本單元的學習進度，並估計認為自己達到本單元學習目標的程度。這些活動還提供了一個分享繼續存在的問題和困難領域的地方（如果自己與講師一起使用本課程，自己的問題將與講師分享）。</p>
<p>Checkpoints: These activities are located across the course after sections of content that can be particularly challenging or require additional practice. These metacognitive checkpointsencourage you to review your progress so far and assess yourself: are you ready to continue, or do you believe you need additional materials, practice, or self-assessment? If you feel that you're not ready to proceed, these checkpoints provide links to additional learning materials.<br/>檢查點：這些活動位於課程的各個部分之後，這些部分可能特別具有挑戰性或需要其他練習。這些元認知檢查點可以鼓勵您回顧迄今為止的進展並進行自我評估：準備好繼續嗎，還是認為需要其他材料，練習或自我評估？如果感覺還沒有準備好繼續，可以使用這些檢查點來鏈接到其他學習資料。</p>
=======
<p>Learning Activities: There are different types of activities interspersed throughout the course. They include:<br/>學習活動：在整個課程中散佈著不同類型的活動。它們包括：</p>
<p>Learn By Doing activities: Learn By Doing activities follow the short explanations and examples. These activities give you the chance to investigate and practice key ideas. Learn By Doing activities have hints and feedback to guide you if you need it.<br/>邊幹邊學的活動：邊幹邊學的活動遵循簡短的說明和示例。這些活動使您有機會研究和實踐關鍵思想。邊做邊學活動有提示和反饋，以在需要時指導您。</p>
<p>Did I Get This? activities: Did I Get This? activities are your chance to do a quick "self-check." These activities do not have hints, and often follow a Learn by Doing activity so that you can determine if you understand the key ideas. This will help you make sure you are ready for graded activities.<br/>我明白了嗎？活動：我明白了嗎？活動是您進行快速“自我檢查”的機會。這些活動沒有提示，通常會跟隨“做中學”活動，以便您確定自己是否了解關鍵思想。這將幫助您確保已準備好進行分級活動。</p>
<p>Quizzes: These are short assignments that are graded. There is a Quiz at the end of each Module. The Quiz will show you and your instructor how well you understand the key concepts. If you read the information and do the activities in each Module, you should be ready for the Quiz.<br/>測驗：這些是評分的短期作業。每個模塊的末尾都有一個測驗。測驗將向您和您的老師展示您對關鍵概念的理解程度。如果您閱讀了該信息並在每個模塊中進行了活動，那麼您應該已經做好測驗的準備。</p>
<p>Metacognitive Activities: These activities are designed to support your development as an independent learner, encouraging you to reflect on your progress and plan for continuing success. These activities include:<br/>元認知活動：這些活動旨在支持您作為獨立學習者的發展，鼓勵您反思自己的進步併計劃繼續取得成功。這些活動包括：</p>
<p>My Response activities: These short activities are located at the end of the module; they encourage you to reflect on your progress through the module and estimate how well you believe you've attained the module's learning objectives. These activities also provide a place to share continuing questions and areas of difficulty (if you're using the course in conjunction with an instructor, your questions will be shared with your instructor).<br/>我的響應活動：這些簡短的活動位於模塊的末尾；他們鼓勵您反思本單元的學習進度，並估計您認為自己達到本單元學習目標的程度。這些活動還提供了一個分享繼續存在的問題和困難領域的地方（如果您與講師一起使用本課程，您的問題將與講師分享）。</p>
<p>Checkpoints: These activities are located across the course after sections of content that can be particularly challenging or require additional practice. These metacognitive checkpointsencourage you to review your progress so far and assess yourself: are you ready to continue, or do you believe you need additional materials, practice, or self-assessment? If you feel that you're not ready to proceed, these checkpoints provide links to additional learning materials.<br/>檢查點：這些活動位於課程的各個部分之後，這些部分可能特別具有挑戰性或需要其他練習。這些元認知檢查點可以鼓勵您回顧迄今為止的進展並進行自我評估：您準備好繼續嗎，還是您認為您需要其他材料，練習或自我評估？如果您感覺還沒有準備好繼續，可以使用這些檢查點來鏈接到其他學習資料。</p>
>>>>>>> 441673fc37d519665903229a4938dd860e65757e
<h2>Uint2 Hardware Basics</h2>
<p>PCH1 Introduction</p>
<p><span>This lesson will cover the basics of PC Hardware. First, you will learn the various parts of both desktop and laptop computers. Next, you will discover basic terms that are associated with computers, such as hardware, software, and firmware. You will learn the most basic functions of a computer: input, output, storage, and processing. Next, you will explore various input and output interfaces on the computer and the associated cables. Finally, you will review connections between common peripherals and discuss the standard ports.</span></p>
<p><span><span>本課將介紹PC硬件的基礎知識。</span><span>首先，將學習台式計算機和便攜式計算機的各個部分。</span><span>接下來，將發現與計算機關聯的基本術語，例如硬件，軟件和固件。</span><span>將學習計算機的最基本功能：輸入，輸出，儲存和處理。</span><span>接下來，將探索計算機上的各種輸入和輸出接口以及相關的電纜。</span><span>最後，將回顧通用外設之間的連接並討論標準端口。</span></span></p>
<p>PCH1 Functions of Computers: Input,Output,Storage,and Processing</p>
<p id="N10690" lang="">What makes a computer a computer? Does a computer have to have certain pieces to be considered a computer? Consider the computers of the 1980s: they all included a display screen, a keyboard, and a processing unit. Over time, the computers have evolved into devices that do not look like a “typical” computer. Consider the iPhone or Android tablet, where the method of input relies on touch, without the use of a separate keyboard. How about the calculator watch displayed below; is it a computer?</p>
<p lang=""><span>是什麼使計算機成為計算機？</span><span>一台計算機是否必須具有某些部件才能視為計算機？</span><span>考慮一下1980年代的計算機：它們都包括顯示屏，鍵盤和處理單元。</span><span>隨著時間的流逝，計算機已經演變為看起來不像“典型”計算機的設備。</span><span>考慮iPhone或Android平板電腦，其中輸入方法依靠觸摸，而不使用單獨的鍵盤。</span><span>下面顯示的計算器手錶怎麼樣？</span><span>是電腦嗎？</span></p>
<p><a href="https://github.com/mdecourse/cmsimde"></a><img alt="" height="200" src="/images/image2.png" width="435"/></p>
<p><span>So, as we consider the history of computers and the future of computers, we must consider what is and what is not a computer. Obviously, our desktops and laptops are computers, since they perform the input, processing, output, and storage functions. But so also are our cellular phones and smartphones, since they perform all these functions. What about our televisions? Many of these are complex computers as well, since they take information from our input using the remote control, process the information, and return an output, such as an on-demand movie. Many of these televisions also store the information, such as your favorite channels or even the video content itself for later playback. Even some thermostats are computers, since they also perform these functions, such as the “smart thermostats,” like the NEST and other popular brands. Remember, the main determination of whether something is a computer or not relies on the functions it performs: does it perform input, processing, output, and storage? If so, then it is a computer.</span></p>
<p><span><span>因此，當我們考慮計算機的歷史和計算機的未來時，我們必須考慮什麼是計算機，什麼不是計算機。</span><span>顯然，我們的台式機和筆記本電腦是計算機，因為它們執行輸入，處理，輸出和存儲功能。</span><span>但是，由於我們的手機和智能手機執行所有這些功能，所以它們也是如此。</span><span>那我們的電視呢？</span><span>其中許多都是複雜的計算機，因為它們使用遙控器從我們的輸入中獲取信息，處理信息並返回輸出，例如點播電影。</span><span>這些電視中的許多電視也會存儲信息，例如您喜歡的頻道，甚至是視頻內容本身，以供以後播放。</span><span>甚至有些自動調溫器都是計算機，因為它們也執行這些功能，例如“智能自動調溫器，</span><span>像NEST和其他熱門品牌一樣。</span><span>記住，對某物是否是計算機的主要確定取決於它執行的功能：它執行輸入，處理，輸出和存儲嗎？</span></span><span><span>如果是這樣，則它是一台計算機。</span></span></p>
<<<<<<< HEAD
<p><span><span>Hardwre</span></span></p>
<p><span><span>A computer system includes hardware, software, and firmware. To build a computer, we must first gather the required hardware. The hardware is the part of the computer that you can touch and feel. When most people see a typical computer, they understand that there are physical components to what they are using, such as the the hard metallic or plastic System unit, central processing unit (CPU), power supply, disk drives, and other essential components. Hardware is limited by its manufacture date and specifically by the motherboard installed. Depending on age and availability, some of the hardware items may be expensive to acquire, repair, or replace. For example, if the computer is running slower over time as you add newer software, it may be necessary to increase the amount of physical memory, called <span class="term" lang="">RAM<span> </span></span><span>(random access memory), in the computer. In order to do this, the technician would need to purchase the correct size, speed, and style of memory according to the motherboard specifications and install it in the computer which will then enhance its ability to process information more quickly.</span></span></span></p>
<p><span><span><span><span>計算機系統包括硬件，軟件和固件。要構建計算機，我們必須首先收集所需的硬件。硬件是您可以觸摸和感覺到的計算機的一部分。當大多數人看到一台典型的計算機時，他們就會知道所使用的是物理組件，例如，硬金屬或塑料系統單元，中央處理器（CPU），電源，磁盤驅動器和其他必要組件。硬件受製造日期限制，特別是受安裝的主板限制。根據使用年限和可用性，某些硬件項目的購置，維修或更換可能會很昂貴。例如，如果計算機隨著時間的推移運行速度變慢，而您添加了更新的軟件，則可能有必要增加物理內存量，稱為</span><span class="term" lang=""><span><span>計算機中的RAM</span></span></span></span></span></span><span><span><span><span><span>（隨機存取存儲器）。</span><span>為此，技術人員需要根據主板規格購買正確的大小，速度和內存類型，然後將其安裝在計算機中，這將增強其更快地處理信息的能力。</span></span></span></span></span></p>
<p><span><span><span><span><span>Computer hardware consists of the mechanical and electrical parts of the computer. Data flows through the motherboard in what is known as the system bus. External ports, which are discussed in more detail further in this lesson, allow peripheral devices to be connected to the system unit. Common ports are USB, serial, and parallel ports.</span></span></span></span></span></p>
<p><span><span><span><span><span><span>計算機硬件由計算機的機械和電氣部分組成。</span><span>數據以所謂的系統總線流經母板。</span><span>在本課程中將進一步詳細討論的外部端口允許將外圍設備連接到系統單元。</span></span></span></span></span></span><span><span><span><span><span><span>通用端口是USB，串行和並行端口。</span></span></span></span></span></span></p>
<p><span><span><span><span><span><span>Peripheral devices consist of hardware attached to the system unit and are designated as input, output, or both. Traditional input device examples are the mouse and keyboard which are used to input data.</span></span></span></span></span></span></p>
<p lang="">外圍設備由連接到系統單元的硬件組成，並被指定為輸入，輸出或兩者。傳統的輸入設備示例是用於輸入數據的鼠標和鍵盤。<br/><span></span></p>
<p><a href="https://github.com/mdecourse/cmsimde"></a><img alt="" height="168" src="/images/image3.png" width="225"/></p>
<p><span>Output devices consist of common items such as monitors, speakers, and printers. All of these devices are ways that the computer can give feedback to the user through either visual or auditory output.</span></p>
<p><span><span>輸出設備由通用項目組成，例如監視器，揚聲器和打印機。</span></span><span><span>所有這些設備都是計算機可以通過視覺或聽覺輸出向用戶提供反饋的方式。</span></span></p>
<p><span><span>Traditionally singular devices have evolved to become both input and output. Gaming Joysticks which provide feedback to the user through vibrations and of course the touch-screen display now serve as both.</span></span></p>
<p id="N106C0" lang=""><span>傳統上，單個設備已演變為輸入和輸出。通過振動向用戶提供反饋的遊戲操縱桿，當然觸摸屏顯示器現在兼用作兩者。</span></p>
<p lang=""><span><img alt="" height="98" src="/images/image4.png" width="198"/></span></p>
<p>Software</p>
<p>Software is completely intangible and cannot be physically touched. Software, in its purest form, is a series of 1s and 0s (bits) that make up the code that gives the computer its instructions on how to perform a certain task. While you may be able to touch the media on which the software is stored (like a CD or DVD), you cannot really touch the software code itself.</p>
<p>軟件是完全無形的，不能被實際觸摸。最純粹形式的軟件是由一系列1和0（位）組成的代碼，這些代碼向計算機提供有關如何執行特定任務的指令。儘管您可以觸摸存儲軟件的介質（例如CD或DVD），但實際上不能觸摸軟件代碼本身。</p>
<p>The most basic software that a computer requires is the operating system. There are numerous operating systems on the market today, including various versions of Microsoft Windows, Macintosh OS X, Linux, Android, and iOS, to name just a few. The operating system provides the standard methods for saving, retrieving, changing, printing, and transmitting information in the computer. Operating systems contain internal commands, which are programs that are built into the operating system to perform basic tasks such as file management (delete, copy, and rename files). Additionally, operating systems also contain external commands, which are added programs to complete more complicated functions, such as defragmentation of a hard drive or handling the remote control of another computer on the network.</p>
<p>計算機所需的最基本的軟件是操作系統。當今市場上有許多操作系統，其中包括Microsoft Windows，Macintosh OS X，Linux，Android和iOS的各種版本。操作系統提供了用於在計算機中保存，檢索，更改，打印和傳輸信息的標準方法。操作系統包含內部命令，這些內部命令是操作系統中內置的用於執行基本任務（例如文件管理（刪除，複製和重命名文件））的程序。此外，操作系統還包含外部命令，這些命令是添加的程序，可以完成更複雜的功能，例如對硬盤驅動器進行碎片整理或處理網絡上另一台計算機的遠程控制。</p>
<p>最後，有稱為應用程序的軟件程序。這些程序用於創建，存儲，修改和查看您創建的信息。諸如Microsof</p>
<p><span><br/> </span>Finally, there are software programs called applications. These programs are used to create, store, modify, and view information that you create. Applications, such as Microsoft Office or Adobe Acrobat, allow you to read and create documents and presentations. Other applications, such as games and web browsers, may instead be used for entertainment.</p>
<p><span><br/> </span>最後，有稱為應用程序的軟件程序。這些程序用於創建，存儲，修改和查看您創建的信息。諸如Microsoft Office或Adobe Acrobat之類的應用程序允許您閱讀和創建文檔和演示文稿。可以將其他應用程序（例如游戲和Web瀏覽器）用於娛樂。</p>
<p>Firmware</p>
<p>Firmware is a combination of hardware and software, often called “software on a chip.” Firmware allows control of the device to which the chip is connected. A firmware chip contains specialized software and is often attached to motherboards, optical drives (such as CD, DVD, or Blu-ray), mass storage devices, and other specialized hardware.</p>
<p>固件是硬件和軟件的組合，通常稱為“芯片上的軟件”。固件允許控制芯片所連接的設備。固件芯片包含專用軟件，通常連接到主板，光盤驅動器（例如CD，DVD或藍光），大容量存儲設備和其他專用硬件。</p>
<p>In older generations of firmware, the firmware was not upgradable unless you replaced the physical chip, but in recent years firmware has been designed to be “flashable.” This means that the chip can be upgraded if the software is outdated or has a programming error. This firmware “flash” replaces the older software on the chip with the latest version, improving performance or enhancing security.</p>
<p>在較早版本的固件中，除非更換了物理芯片，否則固件無法升級，但是近年來，固件被設計為“可刷新的”。這意味著，如果軟件過時或出現編程錯誤，則可以升級芯片。該固件“閃存”用最新版本替換了芯片上的舊軟件，從而提高了性能或增強了安全性。</p>
<p>The most common type of firmware found in a computer is called the BIOS (basic input/output system), which provides the computer with the most basic of tasks before the operating system is even loaded. Without the BIOS, the computer would be rather useless, as it wouldn’t even be able to read the hard drive and load the operating system. Firmware is persistent: it remains on the chip even after the power is removed, unlike temporary storage (such as RAM).</p>
<p>計算機中最常見的固件類型稱為BIOS（基本輸入/輸出系統），BIOS甚至在加載操作系統之前就為計算機提供了最基本的任務。沒有BIOS，計算機將變得毫無用處，因為它甚至無法讀取硬盤驅動器並加載操作系統。固件具有持久性：與臨時存儲（例如RAM）不同，固件即使在斷電後仍保留在芯片上。</p>
<p>Componentization/Standardization</p>
<p>Componentization is the process of breaking down large and complex items into simple, reusable, and interchangeable pieces. For many years, computer software and hardware were made by individual companies building things that only worked for a single system. For example, if IBM made a network card, it would not work in a Compaq or Dell computer. Over the years, hardware developers realized that if they could agree to a set of standards, they could create components that could be built to work together using standard interfaces, which saves time, money, and complexity. This same concept is now being used in the software world under object-oriented programming — a standardized method of programming.</p>
<p>組件化是將大型和復雜項目分解為簡單，可重用和可互換的部分的過程。多年來，計算機軟件和硬件是由獨立的公司製造的，這些公司只能在單個系統上工作。例如，如果IBM製作了網卡，則它不能在Compaq或Dell計算機中工作。多年以來，硬件開發人員意識到，如果他們同意一套標準，他們可以創建可以構建為使用標準接口一起工作的組件，從而節省了時間，金錢和復雜性。現在，在面向對象的程序設計（一種標準化的程序設計方法）下的軟件世界中使用了相同的概念。</p>
<p>Standardization allows for a set of rules that everyone can follow so that hardware is interoperable and software is interoperable. This increases the ability to have componentization of hardware and software, since the input and output created are standardized. For example, web pages are coded in HTML (HyperText Markup Language), which all web browsers understand. Therefore, the user can use any web browser and still get the content they are interested in viewing because of the standardization of the system.</p>
<p>標準化允許每個人都可以遵循一組規則，以便硬件可互操作，軟件可互操作。由於創建的輸入和輸出是標準化的，因此這提高了對硬件和軟件進行組件化的能力。例如，網頁以HTML（超文本標記語言）編碼，所有網絡瀏覽器都可以理解。因此，由於系統的標準化，用戶可以使用任何Web瀏覽器，並且仍然可以獲得他們感興趣的內容。</p>
<p></p>
<p><span> </span></p>
=======
<p><span><span></span></span></p>
>>>>>>> 441673fc37d519665903229a4938dd860e65757e
